__pycache__/agent.cpython-36.pyc
__pycache__/maze.cpython-36.pyc
__pycache__/illustrator.cpython-36.pyc
__pycache__/maze.cpython-38.pyc
__pycache__/agent.cpython-38.pyc
__pycache__/illustrator.cpython-38.pyc
__pycache__/maze.cpython-39.pyc
__pycache__/agent.cpython-39.pyc
__pycache__/illustrator.cpython-39.pyc
.vscode/settings.json
*.pyc
env37/*
